<div style="background-color: rgba(162, 158, 158, 0.712);">
    <nav style="display: flex; justify-content: center; padding: 10px 0;">
      <a style="text-decoration: none; color: black; margin: 0 10px;" href="/">Home</a> |
      <a style="text-decoration: none; color: black; margin: 0 10px;" href="/stores/add">Add a New Store</a> |
      <a style="text-decoration: none; color: black; margin: 0 10px;" href="/employees">Employees</a>
    </nav>
  </div>
  
  <style>
    a:hover {
      color: darkblue !important;
    }
  </style>

</html>
