<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <a href="/">Home</a> |
    <a href="/products">Products</a> |
    <a href="/users">Users</a> |
    <a href="/userProfile">User Profile</a> |
    <a href="/login">Login</a> |
    <a href="/logout">Logout</a>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>

            <form action="/register" method="post">
                <label for="firstName">First name : </label><br>
                <input type="text" id="firstName" name="firstName" value=""><br>
                <label for="lastName">Last name : </label><br>
                <input type="text" id="lastName" name="lastName" value=""><br>
                <label for="address">Address : </label><br>
                <input type="text" id="address" name="address" value=""><br>
                <label for="phoneNumber">Phone Number : </label><br>
                <input type="text" id="phoneNumber" name="phoneNumber" value=""><br>
                <label for="profilePicture">Profile Picture : </label><br>
                <input type="text" id="profilePicture" name="profilePicture" value=""><br>
                <label for="userName">Username : </label><br>
                <input type="text" id="userName" name="userName" value=""><br>
                <label for="email">Email : </label><br>
                <input type="text" id="email" name="email" value=""><br>
                <label for="password">Password :</label><br>
                <input type="password" id="password" name="password" value=""><br><br>
                <input type="submit" value="Register">
            </form>

</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <!-- Menambahkan link CSS Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <!-- Menambahkan gaya khusus -->
    <style>
      body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
      }

      #box {
        max-width: 400px;
        margin-top: 100px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      form input {
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      form input[type="radio"] {
        margin-right: 5px;
      }

      button[type="submit"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
      }

      button[type="submit"]:hover {
        background-color: #0069d9;
      }
    </style>
  </head>

  <body>
    <%- include('_navbar') %>
    <div class="container" id="box">
      <h2>Register</h2>
      <hr />

      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>

      <form action="/register" method="post">
        <label for="firstName">First name : </label><br />
        <input
          type="text"
          id="firstName"
          name="firstName"
          value=""
          class="form-control"
        /><br />
        <label for="lastName">Last name : </label><br />
        <input
          type="text"
          id="lastName"
          name="lastName"
          value=""
          class="form-control"
        /><br />
        <label for="address">Address : </label><br />
        <input
          type="text"
          id="address"
          name="address"
          value=""
          class="form-control"
        /><br />
        <label for="phoneNumber">Phone Number : </label><br />
        <input
          type="text"
          id="phoneNumber"
          name="phoneNumber"
          value=""
          class="form-control"
        /><br />
        <label for="profilePicture">Profile Picture : </label><br />
        <input
          type="text"
          id="profilePicture"
          name="profilePicture"
          value=""
          class="form-control"
        /><br />
        <label for="userName">Username : </label><br />
        <input
          type="text"
          id="userName"
          name="userName"
          value=""
          class="form-control"
        /><br />
        <label for="email">Email : </label><br />
        <input
          type="text"
          id="email"
          name="email"
          value=""
          class="form-control"
        /><br />
        <label for="password">Password :</label><br />
        <input
          type="password"
          id="password"
          name="password"
          value=""
          class="form-control"
        /><br /><br />
        <input type="submit" value="Register" />
      </form>
    </div>

    <!-- Menambahkan script JavaScript Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
